@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    
    color: #ededed;
}
#header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background:#1d303a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo{
    font-size: 25px;
    color: #ededed ;
    text-decoration: none;
    font-size: 600;
    animation: slideRight 1s ease forwards;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
.navbar a {
    font-size: 18px;
    color: #ededed;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.3s;
}
.navbar a:hover,
.navbar a.active{
    color: #00abf0;
}
#home{
    background-image: url(Imagess/two.jpg);
    background-size: cover;
    background-position: center;

    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}
.home-content{
    margin-top: 50px;
    max-width: 600px;
}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height:1.2 ;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: #00abf0;
}
.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
    line-height: 20px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box a{
    position: relative;
    margin-top: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 18px;
    color: black;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2){
    background: transparent;
    color: #00abf0;
}
.btn-box a:nth-child(2):hover{
    color: black ;
}

.btn-box a:nth-child(2)::before{
    background:#00abf0;
}
.btn-box a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0 ;
    width: 0;
    height: 100% ;
    background-color: #081b29;
    z-index: -1;
    transition: 0.5s;
}
.btn-box a:hover::before {
    width: 100%;

}
.home-sci{
    margin-top: 0;
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #00abf0;
    border-radius: 50%;
    text-decoration: none;
    font-size: 20px;
    align-items: center;
    color:#00abf0;
    z-index: 1;
    overflow: hidden;
    transition: 0.5s;
}
.home-sci a:hover{
    color: black;
}
.home-sci a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width:0;
    height: 100%;
    background:#00abf0;
    z-index: -1;
    transition: 0.5s;
}
.home-sci a:hover::before{
    width: 100%;
}
/*--------About----------*/
#about{
    padding: 80px 0;
    color: #ababab;
    background-color: #000000;
}
.row{
    display: flex;
    justify-content: space-between;
}
.about-col1{
    flex-basis: 35%;
    padding-left: 80px;
    margin-top: 38px;
}
.about-col1 img{
    width: 100%;
    border-radius: 500px;
    width: 425px;
}
.about-col2{
    flex-basis: 60%;
    font-size: 13px;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;

}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #00abf0;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
   width: 50%; 
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #00abf0;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display:block ;
}
/*--------Portfolio----------*/
#portfolio{
    padding: 50px 0;
    background: black;
}
.c-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work img{
    transition: transform 0.5s ;
    width: 350px;
    display: block;
    border-radius: 10px;
}
.work1-title{
    font-size: larger;
    align-items: center;
    display: block;
    padding-top: 80px;
}
.edu1,.edu2{
    margin-left: 40px;
}
h4{
    align-items: center;
    margin-left: 100px;
    margin-bottom: 20px;
    color: #00abf0;
}
.c-list2{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
    margin-left: 80px;
}
#portfolio .sub-title{
    font-size: 30px;
    padding-left: 40px;
    padding-top: 40px;
}
.work2{
    width: 368px;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6), #466d7d);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding : 0 40px;
    text-align : center;
    transition : height 0.5s;
}
.work2 h3{
    font-weight: bold;
    margin-bottom: 20px;
    color: #042c3c;
    background-color: #ededed;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .work2{
    height: 100%;
}

/*----contact-----*/
#contact{
    background: #000000;
    padding-top: 80px;
}
.contact .btn{
    background: black;
}
.contact-left{
    flex-basis: 35%;
    padding-left: 40px;
}
.contact-right{
    flex-basis: 60%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i {
    color: #00abf0;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    margin-top: 30px;
}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #00abf0;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #fcfeff;
    transform: translateY(-5px);
}
.btn2{
    display: inline-block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00abf0;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: background 0.5s;
}
.btn2:hover{
    background:#00abf0;
}
.contact-right form{
    width: 700px;
}
form input,form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}
form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #00abf0;
}
form .btn2:hover{
    background-color:transparent ;
}
form .btn2:hover:active{
    background-color: #434444;
    
    transition: 0.5s;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight:300;
    margin-top:20px;
}
.copyright i{
    color: #00abf0;
}
html{
    scroll-behavior: smooth;
}
.list{
    margin-top: 20px;
    margin-left:30px;
    margin-bottom: 20px;
}
